/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  --max-width: 525px;
  --color-text: hsl(220deg, 20% 20% / .9);
  --color-background: 'white';
  
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
    'Droid Sans Mono', 'Courier New', monospace;
}

body {
  color: var(--color-text);
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-size: 16px;
}

header {
  height: 30px;
  margin-bottom: 10em;
}
main {
  max-width: var(--max-width);
  padding: 2em;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5em;
}

footer,
nav {
  display:flex;
  align-items: center;
  gap: 1em;
}

footer {
  margin-top: 3rem;
}

.logo {
  margin-right: auto;
}

nav button {
  background-color: transparent;
  border: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: 'white';
    --color-background: hsl(220deg, 20% 20% / .9);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
